<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message detail</title>
    <link rel="icon" type="image/png" href="/images/noticeboard.png">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/msg-details.css">
  </head>
  <body>
    <!-- Header -->
    <header id="page-header">
      <h1>Post Details</h1>
    </header>

    <!-- Main -->
    <main>

      <div class="msg-board__post">
        <p class="msg-board__content">Text: <%= message.content %> </p>
        <div class="msg-board__details">
          <p class="msg-board__user">User: <%= message.username %> </p>
          <span class="msg-board__time">Time Sent: <%= dateHandler.hourMinuteFormat(message.created_at, preferredLang) %> </span>
          <span> Message sent: <%= dateHandler.getTimeDiff(message.created_at) %> ago</span>
        </div>
      </div>

    </main>

    <!-- Footer -->
    <footer id="page-footer">
      <span class="dev-name">Creator: Inquntum</span>

      <a class="dev-github" href=""><img alt="GitHub-Icon" src="/images/github-mark/github-mark-white.png"></a>
      
      <div class="credits-column">
        <span class="credits-column__title">Credits:</span>
        <a href="https://www.onlinewebfonts.com/icon/262477">Pen Icon</a>
      </div>
    </footer>
  </body>
</html>

