*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

input, textarea, button, select {
  font: inherit;
}

/* medievalsharp-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'MedievalSharp';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/medievalsharp-v28-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --chocolate-brown: #9E592Dff;
  --olive-wood: #796346ff;
  --olive-wood2: rgb(78, 65, 48);
  --deep-walnut: #4F3C2Cff;
  --brown-bark: #6B4429ff;
  --saddle-brown: #7F502Eff;
  --graphite: #3C383Aff;
  --camel: #B59562ff;
  --saddle-brown: #7F502Eff;
  --metallic-gold: #DAB461ff;
  --copper: #B87135ff;
}

button {
  cursor: pointer;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

html, body {
  min-height: 100%;
  margin: 0;
}

body {
  padding: 20px 20px 0;
  background: linear-gradient(to bottom, #8b3a2f, #c36241, #b85136);
  background-color: #b85136; /* rustic brick base */
}

.display-flex {
  display: flex !important;
}

.page-blur {
  filter: blur(20px);
}

header > h1 {
  position: relative;
  text-align: center;
  font-family: Brush Script MT, cursive;
  max-width: 53rem;
  margin: 0 auto;
  background: linear-gradient(to top, var(--copper), var(--chocolate-brown));
  border: solid 10px var(--deep-walnut);
  border-image: linear-gradient(to bottom, var(--deep-walnut), var(--olive-wood2));
  border-image-slice: 1;
  box-shadow: 0 0 2px 2px inset rgb(0, 0, 0, 0.3);
}

.msg-board {
  position: relative;
  font-family: sans-serif;
  background: linear-gradient(to top, var(--copper), var(--chocolate-brown)); 
  background-color: rgb(189, 133, 90);
  margin: 0.625rem auto;
  max-width: 60rem;
  max-height: 100rem;
  padding: 10px;
  border: solid 10px var(--deep-walnut);
  border-image: linear-gradient(to bottom, var(--deep-walnut), var(--olive-wood2));
  border-image-slice: 1;
  box-shadow: 0 0 10px 10px inset rgb(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.msg-board::before, .msg-board::after, header > h1::before, header > h1::after, .show-form-button::before, .show-form-button::after {
  position: absolute;
  content: '';
  filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.1);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

.msg-board__title {
  font-family: Brush Script MT, cursive;
  font-size: 2rem;
  text-align: center;
}

.msg-board__post-area {
  overflow-y: auto;
  padding: 10px 15px;
  display: flex;
  column-gap: 1rem;
  row-gap: 2rem;
  /* justify-content: space-around; */
  flex-wrap: wrap;
}

/* .msg-board__column1, .msg-board__column2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1.25rem;
} */

.msg-board__post {
  background: linear-gradient(to bottom, var(--metallic-gold), var(--camel));
  max-width: 20rem;
  max-height: 26rem;
  overflow-y: auto;
  padding: 15px 20px;
  padding-left: 10px;
  box-shadow: 0px 5px 1px 1px rgb(0, 0, 0, 0.2);
  font-size: 1.8rem;
  font-family: Brush Script MT, cursive;
}

.msg-board__post:hover {
  filter: brightness(92%);
}

.msg-board__content {
  overflow-wrap: break-word;
  line-height: 0.9;
  margin-bottom: 1rem;
}

.msg-board__details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.2rem;
  margin-top: 0.5rem;
}

.show-form-button-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 6.25rem;
}

.show-form-button {
  position: relative;
  max-width: 15rem;
  max-height: 15rem;
  font-family: sans-serif;
  text-align: center;
  padding: 10px 10px;
  background-color: var(--metallic-gold);
  border: 2px solid var(--brown-bark);
  border-radius: 50%;
  transition: filter 0.5s;
}

.show-form-button:hover {
  filter: brightness(80%);
}

.show-form-button> img {
  width: 2rem;
  height: 2rem;
}

.request-form {
  position: absolute;
  font-family: Brush Script MT, cursive;
  width: 100%;
  max-width: 35rem; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  flex-direction: column;
  gap: 1rem;
  padding: 15px 25px;
  background: linear-gradient(to bottom, var(--metallic-gold), var(--camel));
  box-shadow: 3px 4px 4px 2px rgb(0, 0, 0, 0.3);
  z-index: 3;
}

.request-form__hide-button {
  position: fixed;
  top: 0;
  right: 0;
  font-size: 3rem;
  width: 4rem;
  background-color: transparent;
  border: none;
}

/* .request-form::before {
  content: 'X';
  font-size: 3rem;
  align-items: center;
  position: fixed;
  font-family: Brush Script MT, cursive;
  width: 7%;
  height: 10%;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 4;
} */

.request-form__header {
  font-size: 3rem;
}

.request-form__form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.request-form__group {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  max-width: 30rem;
}

#request-form__text, #request-form__name {
  padding: 10px;
  border: 2px solid var(--brown-bark);
}

#request-form__text {
  min-height: 10rem;
}

.request-form__submit-button {
  font-family: Brush Script MT, cursive;
  font-size: 1.8rem;
  max-width: 15rem;
  max-height: 15rem;
  text-align: center;
  padding: 10px 10px;
  background-color: var(--metallic-gold);
  border: 2px solid var(--brown-bark);
  transition: filter 0.5s;
}

.dev-name, .credits-column {
  font-family: Brush Script MT, cursive;
  font-size: 2rem;
}

.dev-github > img {
  margin-top: 0.4rem;
  max-width: 2rem;
}

.credits-column {
  margin-top: 0.4rem;
}